[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
psycopg2-binary = "*"
Flask = "*"
Flask-Session = "*"
SQLAlchemy = "*"

[dev-packages]

[requires]
python_version = "3.9"
