<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='appcss.css')}}">
    <script src="{{ url_for('static', filename='index.js') }}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename='images/book2.jpg')}}" />

</head>
<title>{{title}}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<div class="container">
    <header class="head">
        <h1>Readers' library</h1>
        </header>

  <div class="row">

    <div class="col">

          <image src="{{url_for('static', filename='images/book2.jpg')}}"></image>
    </div>
    <div class="col">

      <div class ="act_bar">
    <a class="login" href=" {{url_for('login')}} ">Login</a>
    <h3>Register</h3>
  <form action="{{url_for('process')}}" method="post">
      <ul class="label">Username</ul>
      <ul ><input type="text" name="username" required></ul>
      <ul class="label">Email</ul>
      <ul><input type="email" name="email" required></ul>
      <ul class="label">Password</ul>
      <ul><input type="password" name="psw" required></ul>
      <ul><button>Register</button></ul>

  </form>

          {% if valid != True %}

          {% else %}
    <div class="alert alert-danger" role="alert">
     Username <b>{{m}}</b> is already exists. Please try something else.
    </div>
          {% endif %}

    </div>
    </div>
  </div>
</div>

</body>
</html>
