<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='appcss.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{user}}</title>
</head>
<body>
<div class="nav_bar">

    <div class="container">
  <div class="row">
    <div class="col-sm">
      <a href="{{url_for('main')}}"> <img src="{{url_for('static', filename='images/logo.PNG')}}"> </a>
    </div>
    <div class="col-sm">
      <form action="{{url_for('results')}}" method="post">
    <input type="text" name="book" placeholder="Book review">
    <input type="submit" name="submit" class="fa" value="&#xf002;">
    </form>
    </div>
    <div class="col-sm">
        <div class="r_buttons">
        <a href="{{url_for('logout')}}">Logout</a>
        <a href="{{url_for('profile', user_name=user)}}">{{ user }}</a>
            </div>
    </div>
  </div>
</div>


</div>



<div class="p_bd">
        <h3>You saw last.</h3>
        <p>{{title}}, {{author}}, {{year}}</p>
    </div>


 {% if post == [] %}
    <div class="p_post">
      <h3>You haven' t write any reviews yet.</h3>
      <p>Search books and write a reviews about them.</p>
   </div>
 {% else %}
        {% for row in post %}

   <div class="p_box">
                <div class="p_head"> <img src="{{url_for('static', filename='images/reader.jpg')}}"> <a href="{{url_for('book', book_t=row.book)}}"><b>{{ row.book}}</b></a>-{{ row.user }} <b>{{ row.title }}</b> - <i>{{ row.date }}</i></div>
                <diV class="p_text"><ul>{{ row.review }}</ul></diV>
                <ul>{{ row.scale}}/5</ul>
            </div>
       {% endfor %}

 {% endif %}

</body>
</html>